
$container-width: 1100px;
$bleed-width: 1400px;

@mixin contained() {
  width: $container-width;
  $hpadding: 30px;
  padding-left: $hpadding;
  padding-right: $hpadding;
  margin: auto;
}

@mixin contained_bleed() {
  width: $bleed-width;
}